/* Write your CSS here */
.image {
  height: 400px;
  width: 400px;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: Roboto;
  font-weight: 500;
  padding: 10px;
}

.para {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}
